@import "tailwindcss";

@theme {
  /* 1. Register the animation name */
  --animate-spotlight: spotlight 2s ease .75s 1 forwards;

  /* 2. Define the keyframes inside the theme block */
  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  /* Grid Pattern */
  --bg-grid-white: linear-gradient(to right, #ffffff10 1px, transparent 1px),
                   linear-gradient(to bottom, #ffffff10 1px, transparent 1px);
  


  /* Set the sizes for the patterns */
  --bg-size-grid: 20px 20px;
  
}

@layer base {
  body {
    background-color: #000; /* Forces the page to stay black */
    color: white;           /* Sets default text to white */
  }
}